<div id="map-container">
  <div id="map-canvas">
  </div>
  <div class="title">
      <h1>DC Bike Map</h1>
      <%= @cbs %>
   </div>
</div>

<script type="text/javascript">
   var startTrip = "<%= @start %>";
   var endTrip = "<%= @end %>";
   var cbs = "<%= @cbs %>";
</script>