@import 'bootstrap';
.center{
   @extend .container-fluid;
   .row{
      @extend .row;
      .start-container{
         @extend .col-md-8;
         @extend .col-md-offset-2;
         @extend .col-xs-10;
         @extend .col-xs-offset-1;
         padding-top: 15px;
         #start{
            @extend .form-control;
         }
      }  
      .input{
         @extend .input-group;
         @extend .start-container;
         #end{
            @extend .form-control;
         }
         .button{
            @extend .input-group-btn;
            .sub-button{
               @extend .btn;
               @extend .btn-success;
            }
         }
      }
   .checkbox-container{
      @extend .start-container;
      @extend .text-right;
      font-size: 20px;
      font-weight: bold;
   }
   }
}
#front-map-container {
   width: 100%;
   height: 100%;
   position: fixed;
   padding-top: 50px;
   top: 0px;
   left: 0px;

    #map-canvas {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 0;
    }
 }
